@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: 600;
	outline: 0;
	border: 0;
	scroll-behavior: smooth;
}
html {
	font-size: 62.5%;
	/* font-family: "Oswald", sans-serif; */
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	background-color: var(--dark-color);
	color: var(--white-color);
}
:root {
	--dark-color: #292d33;
	--it-color: #3b383f;
	--light-grey-color: #bbbbbb;
	--orange-color: #f65921;
	--light-orange-color: #f06e49;
	--white-color: #ffffff;
	--black-color: #000000;
	--tan-color: #e9cfc5;
	--footer-btn-color: #b16853;
}

/* ---------------GLOBAL----------------------- */
.flex-row {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}

/* ---------------HEADER----------------------- */

nav {
	height: 10vh;
	color: var(--white-color);
	justify-content: space-between;
	align-items: center;
}
nav :is(h1, i) {
	font-size: 3rem;
	margin: 0 5%;
	cursor: pointer;
}
nav h1 {
	color: var(--light-grey-color);
	font-size: 4rem;
}
nav i:hover {
	color: var(--orange-color);
}

/* -------NAV-BURGER------ */
.burger-nav {
	position: absolute;
	transform: translateX(-30rem);
	width: 30rem;
	height: 100vh;
	margin: auto;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 999;
	transition: 0.3s ease-in;
}
.burger-nav.active {
	transform: translateX(0rem);
}

.burger-nav.active {
	transform: translateX(0rem);
}

.burger-nav i {
	margin: 5rem;
	align-self: end;
}
.burger-nav .links {
	align-items: center;
}
.burger-nav .links a {
	margin: 2rem 0;
	color: var(--white-color);
	font-size: 2rem;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.burger-nav .links a:hover {
	color: var(--orange-color);
	transform: scale(1.1);
}
.header-page {
	background: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/3ab515973cd65e0da7578c30/-min.jpg");
	background-position: 50% 50%;
	min-height: 90vh;
}
.header-page .cards {
	padding-top: 2rem;
	flex-wrap: wrap;
}
.header-page .card {
	width: 95%;
	max-width: 35rem;
	height: 17rem;
	background: var(--orange-color);
	margin: 1.5rem auto;
	border-radius: 2rem;
	color: var(--white-color);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.cards .card {
	/* flex-wrap: wrap; */
	justify-content: space-evenly;
	/* align-items: start; */
	padding: 0 2rem;
}
.cards .card p {
	margin: 0 0 0 0rem;
	font-size: 1.5rem;
}
.top-arrow i {
	position: fixed;
	bottom: 0;
	right: 4rem;
	font-size: 6rem;
	color: var(--orange-color);
	z-index: 999;
	display: none;
	transition: 0.3s;
}

.top-arrow.active i {
	display: block;
}

/* ----------------CREATOR---------------------- */
.creator-card img {
	position: relative;
	width: 15rem;
	border-radius: 50%;
	top: -8rem;
}
.creator-card {
	position: relative;
	top: 18rem;
	width: 80%;
	margin: -4rem auto 0 auto;
	background-color: var(--white-color);
	color: var(--black-color);
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 2.5rem;
}
.creator-card h3 {
	margin-top: -7rem;
	font-size: 5rem;
}
.creator-card h4 {
	font-size: 2rem;
	color: var(--orange-color);
}
.creator-card p {
	color: #111111;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	margin: 1rem 3rem 7rem 3rem;
}
.freeSpace {
	height: 25rem;
}

/* ----------------RESUME---------------------- */
.first--page {
	min-height: 100vh;
	text-align: center;
	width: 90%;
	margin: auto;
}
.first--page h2 {
	margin-top: 5rem;
	font-size: 3.6rem;
	color: var(--orange-color);
}
.first--page p {
	padding: 0rem 4rem;
	margin-top: 2rem;
	font-size: 1.7rem;
	font-weight: 400;
}

.first--page .hyperlinks {
	margin: 4rem 0 9rem 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.hyperlinks .circle {
	color: var(--orange-color);
	text-decoration: none;
	width: 13rem;
	border-radius: 50%;
	font-size: 1.5rem;
	margin: 1rem;
	background-color: var(--white-color);
	aspect-ratio: 1/1;
	justify-content: center;
	align-items: center;
	transition: 0.7s ease;
}

.hyperlinks .circle:hover:nth-child(odd) {
	border: 0.5rem solid #f9c3b4;
	cursor: pointer;
	transform: translateY(-1rem);
}
.hyperlinks .circle:hover:nth-child(even) {
	border: 0.5rem solid #f65921;

	cursor: pointer;
	transform: translateY(-1rem);
}
/* --------------PORTFOLIO------------ */
.second--page {
	color: var(--white-color);
	min-height: 100vh;
	align-items: center;
	text-align: center;
	width: 95%;
	margin: auto;
}

.second--page h3 {
	font-size: 3rem;
	margin-top: 5rem;
}
.second--page p {
	font-size: 1.6rem;
	margin-top: 2rem;
	margin: 2rem 5rem 5rem;
	font-weight: 400;
}

.second--page .box---cards {
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0rem 0 7rem 0;
	color: #111111;
}
.box---cards .card {
	margin: 2rem 0;
	height: 40rem;
	width: 100%;
	max-width: 30rem;
	border-radius: 1rem;
	background: var(--white-color);
	overflow: hidden;
	transition: 0.7s ease;
	cursor: pointer;
}
.card img {
	width: 100%;
	height: 70%;
	object-fit: cover;
	object-position: top;
}
.card .text {
	transition: 0.7s ease;
}
.card:hover {
	transform: scale(1.07);
}

.card:hover .text {
	transform: translateY(-1rem);
}
.card h3 {
	margin-top: 1rem;
	letter-spacing: -0.1rem;
	font-size: 2.3rem;
}
.card h4 {
	margin-top: 1rem;
	font-style: italic;
	letter-spacing: -0.1rem;
	font-size: 1.5rem;
	font-weight: lighter;
}

/* -------------Testimonials------------- */

.third--page {
	min-height: 100vh;
	justify-content: start;
}
.third--page h3 {
	margin-top: 2rem;
	text-align: center;
	font-size: 2.6rem;
}
.testimonial-grid {
	padding: 2rem 1rem 5rem;
	min-height: 100vh;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.testimonial-grid .grid-card {
	justify-content: space-between;
	align-items: center;
	max-width: 35rem;
	width: 100%;
	margin: 3rem 2rem;
}
.testimonial-grid img {
	width: 10rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	object-fit: cover;
	border: 1.2rem solid var(--orange-color);
}
.grid-card .grid-text {
	margin-left: 2rem;
	font-size: 1.3rem;
}
.grid-card .grid-text p {
	font-weight: 400;
}
.grid-card .grid-text h6 {
	font-size: 1.3rem;
	margin-top: 1rem;
	color: var(--orange-color);
}

/* -----MOUNTAINS----- */
.mountain {
	height: 100vh;
	color: var(--white-color);
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.45),
			rgba(0, 0, 0, 0.45)
		),
		url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/722aa5216d3c5059a0a299de/fgfggf-min.jpg");
	background-position: 50% 100%;
}
.mount-text {
	margin: auto;
}
.card-strip {
	justify-content: center;
	align-items: center;
	margin: 3rem;
}
.card-strip h4 {
	font-size: 4.5rem;
}
.card-strip h2 {
	font-size: 2rem;
	font-weight: 200;
}

/* ----------------IT-SOL------------- */
.it-sol {
	min-height: 100vh;
}
.it-sol-img img {
	width: 100vw;
}
.it-sol-text {
	margin: 4rem 0 0 4rem;
}
.it-sol-text h2 {
	font-size: 3rem;
	margin-bottom: 2rem;
}
.it-sol-text ul li {
	list-style-type: none;
	margin: 1rem 0;
	font-size: 1.6rem;
	font-weight: 400;
}
.it-sol-text ul li i {
	color: var(--orange-color);
	margin-right: 1rem;
}
.contact-me-btn {
	background-color: var(--orange-color);
	color: var(--white-color);
	padding: 1.6rem 4rem;
	margin-top: 2rem;
	border-radius: 3rem;
	font-size: 1.8rem;
	max-width: 25rem;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
.contact-me-btn:hover {
	background-color: var(--white-color);
	color: #000;
}
/* --------EXPERTISE-------------- */
.expertise-container {
	width: 80%;
	margin: auto;
	min-height: 100vh;
}
.expertise-container .expertise-left {
	min-height: 100vh;
}
.expertise-left h3 {
	margin-top: 5rem;
	font-size: 3rem;
}
.expertise-left p {
	margin: 3rem 0;
	line-height: 3rem;
	font-size: 1.7rem;
	font-weight: 400;
}
.expertise-left h4 {
	margin-top: 1rem;
	font-size: 2rem;
}
.expertise-left .companies {
	margin-top: 5rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.companies img {
	width: 13rem;
	margin: 2rem 1rem;
}

/* --btn-- */
.expertise-btn {
	max-width: 25rem;
	background-color: var(--white-color);
	color: #000;
	padding: 1.6rem 3rem;
	margin: 4rem 0;
	border-radius: 3rem;
	font-size: 1.6rem;
	transition: 0.3s ease-in-out;
}
.expertise-btn:hover {
	background-color: var(--orange-color);
	color: var(--white-color);
}
/* --grid-- */
.expertise-right {
	background-color: var(--white-color);
	margin-bottom: 10rem;
}
.expertise-grid img {
	background-color: var(--white-color);
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: contain;
	object-position: center;
}
.empty {
	height: 20vh;
}
/* <!----------------CONTACT-ME-SECTION-------------> */

.contact-me-section-container {
	width: 80vw;
	margin: auto;
	background: var(--dark-color);
	min-height: 100vh;
}

/* ---------info-card-------- */
.contact-info-card {
	background: var(--light-orange-color);
	min-height: 100vh;
	border-radius: 3rem;
	padding: 3rem;
	margin: 5rem 0;
	align-items: start;
	justify-content: start;
}
.contact-info-card h2 {
	font-size: 2rem;
	font-weight: lighter;
}
.contact-info-card .timing-head {
	margin-top: 2rem;
	font-size: 2.5rem;
	line-height: 3rem;
}
.contact-info-card .timings {
	margin-top: 3rem;
	font-size: 1.6rem;
	font-weight: 300;
}
.contact-info-card .contact-email-link {
	margin-top: 6rem;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 4rem;
}
.contact-info-card h3 {
	font-size: 3.2rem;
	margin-top: 5rem;
}
.contact-info-card .social-icons {
	margin-top: 3rem;
	width: 50%;
	justify-content: space-between;
}
.contact-info-card .social-icons i {
	margin-left: 2rem;
	font-size: 3rem;
}
.contact-info-card h6 {
	font-size: 2rem;
	margin-top: 2rem;
	font-weight: lighter;
}

/* ---------form-------- */
.contact-me-form {
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
.contact-me-form h2 {
	font-size: 3.2rem;
}
.contact-me-form :is(textarea, input) {
	width: 100%;
	max-width: 40rem;
	margin: 1.5rem 0;
	border-radius: 3rem;
	padding: 1.6rem 2rem;
	font-size: 1.8rem;
	font-weight: 200;
	resize: vertical;
}

.contact-me-form button {
	width: 100%;
	max-width: 40rem;
	padding: 1.6rem 5rem;
	font-size: 2rem;
	color: var(--white-color);
	background-color: var(--light-orange-color);
	border-radius: 2rem;
	margin-top: 2.5rem;
	cursor: pointer;
}
.contact-me-form button:hover {
	background-color: var(--footer-btn-color);
}
